{default $postIn = []}

{var $link = get_permalink($postIn)}

<article class="articles-in">
    <a href="{$link}" class="articles-in-link">
        <h2 class="articles-in-title">{apply_filters('the_content', $postIn->post_title)}</h2>
        <time class="articles-in-date" datetime="{($post->post_date)|date:'Y-m-d'}">{($post->post_date)|date:'F j, Y'}</time>
    </a>
</article>      