<header class="header">
	<div class="site">
		<div class="header-logo">
		<a href="{home_url()}" class="header-logo-link">
			<img src="{$assetsPath}/images/logo-black-transparent-500x76.png" alt="I am Martin Le" class="header-image">
		</a>
		</div>
		{component menu}
	</div>
</header>
