{default $post = []}

<section class="hero">
    <div class="hero-picture">
        {the_post_thumbnail('sizes', ['class' => 'hero-image'])}
    </div>
    <div class="hero-content">
        <h1 class="hero-title">{apply_filters(the_title, $post->post_title)}</h1>
        {apply_filters('the_content', $post->post_content)|noescape}
    </div>
</section>