defaults:
	public: true
	has_archive: false
	exclude_from_search: true
	publicly_queryable: true
	show_ui: true
	show_in_menu: true
	show_in_rest: true # enable gutenberg blocks

	supports:
		- title
		- editor
		- thumbnail
		- revisions
		- page-attributes

remove:
	- comments

register:
	thing:
		isExample: true
		public: false
		label: Things
		faicon: crow
		rewrite:
			slug: thing
			
	articles:
		public: true
		label: Articles
		has_archive: true
		faicon: admin-post
		rewrite:
			slug: articles