defaults:
	show_admin_column: true
	show_ui: true
	show_in_menu: true
	show_in_rest: true

register:

	article_categories:
		label: Article categories
		hierarchical: true
		post_types:
			- articles
		rewrite:
			slug: articles-categories
