.musings

    &-in
        margin-bottom: 100px

        &-title
            text-align: center

        &-date
            display: inline-block
            width: 100%
            margin-bottom: 10px
            font-size: $font-size-small
            color: #bcbcbc
            text-align: center