{extends @layout.latte}

{var $query = getArticles()}

{block fullPage}

    <main class="post post-type-articles post-type-articles-detail">
        {foreach $query->posts as $postIn}
            {include components/articles-in.latte, 
                postIn => $postIn,
            }
        {/foreach}
    </main>

{/block}
